* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.btn {
  width: 217px;
  display:contents;
  justify-content: center;
  flex-wrap: wrap;
}
#btn {
  width: 146px;
  padding: 15px 25px;
  background-color: rgb(12, 146, 248);
  border: #222;
  color: #fff;
  font-weight:normal;
  font-size: 20px;
  text-align:center;
}
#btn__element:hover {
  cursor: pointer;
  background-color: rgb(59, 59, 59);
}

#display {
  width: 231px;
  padding: 15px 25px;
  background-color: rgb(7, 91, 248);
  border: #222;
  color: #fff;
  font-weight:normal;
  text-align:center;
  font-size: 20px;
}